*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}



#page1{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: beige;
}

#page2{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: darkgrey;
}

#page3{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: beige;
}

#page4{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: darkgrey;
}

#page5{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: beige;
}

#page6{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: darkgrey;
}

.small-screen {
    width: 80vw; 
    height: 60vh; 
    border: 2px solid red; 
    display: flex;
    justify-content: center;
    align-items: center;
}

.small-screen > div {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}


.small-screen svg {
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
    display: block;
}

#info-popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

.popup-hidden {
    display: none !important;
}

.popup-content {
    background-color: white;
    width: 90vw;
    max-width: 600px;
    min-height: 40vh;
    max-height: 80vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: 3rem;
    padding: 2rem;
    justify-content: center;
    align-content: center;
    position: relative;
    overflow: hidden;
}

#close-popup {
    position: absolute;
    top: 1.5rem;
    right: 1.5rem;
    font-size: 2rem;
    cursor: pointer;
    color: #999;
    z-index: 10;
}

#popup-image-container {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2rem;
}

#popup-image-container svg{
   max-width: 100%;
   max-height: 100%;
   width: auto;
   height: auto;
}

.popup-text-content {
    flex: 2;
    padding: 3rem 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#popup-title {
    font-size: 2rem;
    margin-bottom: 20px;
    color: #333;
}

#popup-text {
    font-size: 1rem;
    line-height: 1.6;
    color: #666;
}

@media (max-width: 400px) {
    .popup-content {
        flex-direction: column; 
        width: 90vw;
        height: auto; 
        max-height: 80vh; 
        overflow-y: auto; 
        border-radius: 1.5rem;
        padding: 1.5rem;
    }

    
    .popup-text-content {
        padding: 1rem 0; 
        display: flex;
        justify-content: center;
    }
}


